<!-- Footer Section Start -->
<footer class="footer">
	<div class="container">
		<div class="footer_widget f_contact percent-50">
			<h3 class="footer-title">Contact Information</h3>
			<p><span>Phone</span> 070-7535-7324<br>
			<span>Mail</span> indiscent@naver.com<br>
			<span class="address">Address</span> (03493) 서울특별시 은평구 증산로5길 23-38<br>
			(증산동) 예모팰리스 2층 203호
			</p>
		</div>
		<!-- //Contact Information -->
		<div class="footer_widget f_company percent-50">
			<h3 class="footer-title">Company Information</h3>
			<p>
				<span>Company</span> 이모션랩 주식회사<br>
				<span>Online Biz</span> 제 2017-서울은평-0055호<br>
				<span>Business License</span> 678-87-00653<br>
				<span>Owner</span> 윤수연, 박재석
			</p>
		</div>
		<!-- //Company Information -->
		<div class="social-icon">
			<ul class="f_snb">
				<li class="fb"><a href="http://www.facebook.com" target="_blank"><span>페이스북</span></a></li>
				<li class="ins"><a href="http://www.instagram.com" target="_blank"><span>인스타그램</span></a></li>
			</ul>
		</div>
		<!-- //.social-icon -->
	</div>
	<!-- //.container -->
</footer>
<!-- Footer Section End -->