<!-- Footer Section Start -->
<footer class="footer ptb-20 clearfix">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-xs-6 xs-padding">
			<div class="footer_widget">
				<h3 class="footer-title">Contact Information</h3>
				<p>
				Phone: 070-7535-7324<br>
				Mail: indiscent@naver.com<br>
				Address: (03493) 서울특별시 은평구 증산로5길 23-38<br>
				(증산동) 예모팰리스 2층 203호
				</p>
			</div>
			</div>
			<!-- //Contact Information -->
			<div class="col-md-6 col-xs-6 xs-padding">
			<div class="footer_widget">
				<h3 class="footer-title">Company Information</h3>
				<p>
					Company: 이모션랩 주식회사<br>
					Online Biz: 제 2017-서울은평-0055호<br>
					Business License: 678-87-00653<br>
					Owner: 윤수연, 박재석
				</p>
				<div class="row social-icon">
					<ul class="clearfix">
					<li><a href="http://www.facebook.com" target="_blank"><span>페이스북</span></a></li>
					<li><a href="http://www.instagram.com" target="_blank"><span>인스타그램</span></a></li>
					</ul>
				</div>
			</div>
			</div>
			<!-- //Company Information -->
		</div>
		<!-- .row End -->
	</div>
</footer>
<!-- Footer Section End -->