<!-- Main Slider Start -->
<div class="pages-header bg-color-2">
	<div class="row text-center">
		<div class="col-xs-12 title-slick-item">
			<div class="title-item it1">
				<div class="page-title-wrap pt-200 pb-250">
					<div class="page-title">
					<h1 class="mb-15">Find your true color</h1>
					<h4 class="mb-5">나에게 어울리는 향기는 무엇일까요?</h4>
					</div>
				</div>
			</div>
			<!-- //title-item -->
			<div class="title-item it2">
				<div class="page-title-wrap pt-200 pb-250">
					<div class="page-title">
					<h1 class="mb-15">Find your true color</h1>
					<h4 class="mb-5">나에게 어울리는 향기는 무엇일까요?</h4>
					</div>
				</div>
			</div>
			<!-- //title-item -->
			<div class="title-item it3">
				<div class="page-title-wrap pt-200 pb-250">
					<div class="page-title">
					<h1 class="mb-15">Find your true color</h1>
					<h4 class="mb-5">나에게 어울리는 향기는 무엇일까요?</h4>
					</div>
				</div>
			</div>
		</div>
	<!-- //title-item -->
	</div>
</div>
<!-- Main Slider End -->