<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="나에게 어울리는 향기는 무엇일까요? Indiscent입니다!">
	<meta name="keywords" content="향기, 향수, 조향, 인디센트, Indiscent">
	<meta name="author" content="indiscent.com">

	<!-- title -->
	<title>{{title}}</title>

	<!-- style css -->
	<link rel="stylesheet" href="/css/common.css" />

	<!-- modernizr js -->
	<script src="/js/vendor/modernizr-2.8.3.min.js"></script>

	<!-- jQuery Latest Version -->
	<script src="/js/vendor/jquery-1.12.4.min.js"></script>
</head>
<body>
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

	<!-- Loading Bar Start -->
	<div id="loading-wrap">
		<div class="loading-effect"></div>
	</div>
	<!-- Loading Bar End -->

	<!-- Header Section Start -->
	{{> header}}
	<!-- Header Section End -->

	<!-- Body Section Start -->
	{{{body}}}
	<!-- Body Section End -->

	<!-- Footer Section Start -->
	{{> footer}}
	<!-- Footer Section End -->

	<!-- All JS Here -->
	<!-- Bootstrap JS -->
	<script src="/js/vendor/bootstrap.min.js"></script>
	<!-- Isotope -->
	<script src="/js/isotope.pkgd.js"></script>
	<!-- Validate -->
	<script src="/js/vendor/jquery.validate.min.js"></script>
	<!-- Slick Slider JS -->
	<script src="/js/vendor/slick.min.js"></script>
	<!-- Plugins JS -->
	<script src="/js/plugins.js"></script>
	<!-- main JS -->
	<script src="/js/main.js"></script>
</body>
</html>
