<!-- Body Contents Start -->
<div class="main-area section-padding">
	<div class="container">
		<div class="row text-center">
			<div class="col-xs-12">
				<div class="app_header">
					<div class="tit">
						<h1>About Indiscent</h1>
						<p>인디센트 소개</p>
					</div>
					<!-- //.tit -->
				</div>
				<!-- //.app_header -->
				<div class="app_body">

				</div>
				<!-- //.app_body -->
			</div>
			<!--//.col-xs-12 -->
		</div>
		<!--//.row.text-center -->
	</div>
	<!--//.container -->
</div>
<!-- Body Contents End -->
