body {font-family:'Open Sans', sans-serif;font-size:14px;font-weight:400;color:#666;background-color:#fff;overflow-x:hidden;-webkit-text-size-adjust:100%;-webkit-overflow-scrolling:touch;-webkit-font-smoothing:antialiased}
html, body {width:100%;overflow-x:hidden}
::-moz-selection {background:#ccc;text-shadow:none;color:#000}
::selection {background:#ccc;text-shadow:none;color:#000}
.browserupgrade {margin:0.2em 0;padding:0.2em 0;background:#ccc;color:#000}
img {max-width:100%}
ul, ul li {list-style:outside none none;margin:0;padding:0}
nav {background-color:transparent}
nav ul, nav ul li {float:none}
nav ul li:hover,
nav ul li.active {background-color:transparent}
nav ul a {font-size:inherit}
hr.line {width:100%;height:1px;margin:0 auto;background-color:#b6b6b6;border:0 none}
input::-moz-placeholder,
textarea::-moz-placeholder {opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"}
input::-ms-input-placeholder,
textarea::-ms-input-placeholder {opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"}
input:focus,
textarea:focus {outline:0}
select {-moz-appearance:none;-webkit-appearance:none}
h1, h2, h3, h4, h5, h6 {margin:0;font-family:inherit;font-weight:300;line-height:1.3;color:#747474;text-transform:capitalize}
a {color:#a1a1a1;font-weight:700;text-transform:uppercase;font-family:'Lato', sans-serif}
a, a > * {outline:none;cursor:pointer;text-decoration:none}
a:focus, a:hover {color:#484848;outline:none;text-decoration:none}
a, a h2, a h3, a h4, a h5, .navbar a {
-webkit-transition:all 0.3s ease;
-o-transition:all 0.3s ease;
transition:all 0.3s ease}
p {margin:0;padding:0;font-size:14px;line-height:22px;font-weight:300}
h1 {font-size:36px;color:#5a5a5a}
h2 {font-size:32px;color:#5a5a5a}
h3 {font-size:24px}
h4 {font-size:20px;color: #444}
h5 {font-size:15px;font-weight:400;color:#656565}
h6 {font-size:13px}
.open-sans {font-family:'Open Sans', sans-serif}
.noto-sans {font-family:'Noto Sans KR', sans-serif}
.no-margin {margin:0}
.overlay {position:relative}
.overlay:before {content:'';position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(247, 247, 247, .90);
-webkit-transition:all 0.3s ease 0s;
-o-transition:all 0.3s ease 0s;
transition:all 0.3s ease 0s;
z-index:1}
.container .row {margin-left:-15px;margin-right:-15px}
.row .col {padding-left:15px;padding-right:15px}
.error-content p {font-size:16px;line-height:28px}

/* Header */
.header-space {height:90px}
.mainmenu li {float:left;margin:0 19px}
.mainmenu li:last-child {margin-right:2px}
.mainmenu li a {position:relative;display:block;padding:0;font-size:12px;font-weight:700;color:#6c6c6c}
.mainmenu li a.active,
.mainmenu li a:hover {color:#a4a4a4}
.mainmenu li a:after {position:absolute;content:'';top:65px;left:0;right:0;width:0;height:1px;margin:0 auto;background-color:#666;
-webkit-transition:all 0.3s ease 0s;
-o-transition:all 0.3s ease 0s;
transition:all 0.3s ease 0s}
.header .logo,
.mainmenu li a {line-height:90px}
.mainmenu li ul a:after {display:none}
.mainmenu li:hover a:after,
.mainmenu li a.active::after {width:20px}
.header .header-top {position:absolute;top:0;left:0;width:100%;z-index:99}
.header .logo,
.header .header-top,
.header-space {
-webkit-transition:all 0.5s ease 0s;
-o-transition:all 0.5s ease 0s;
transition:all 0.5s ease 0s}
.header-top.is-sticky .mainmenu ul ul li a:hover,
.header-top.is-sticky .mainmenu ul ul li a.active {color:#fff}
.header-top.is-sticky {position:fixed;top:0;left:0;width:100%;padding:0;background:#fff;z-index:9999;
-webkit-box-shadow:0 1px 4px rgba(2, 3, 3, 0.1);
box-shadow:0 1px 4px rgba(2, 3, 3, 0.1)}
.is-sticky .mainmenu ul li a::after {top:45px}
.header .is-sticky .logo,
.header .is-sticky .mainmenu li a {line-height:70px}
.navbar-toggle {border:1px solid #777}
.navbar-toggle .icon-bar {background-color:#777}
.navbar-collapse {padding-left:0;padding-right:0;border-top:0;
-webkit-box-shadow:none;
box-shadow:none}

/* Main Slider */
.slick-arrow {position:absolute;top:50%;width:48px;height:48px;margin-top:-24px;font-size:26px;line-height:48px;text-align:center;color:#fff;background-color:#515151;border-radius:50%;z-index:2;opacity:0;cursor:pointer;
-webkit-transition:all 0.3s ease 0s;
-o-transition:all 0.3s ease 0s;
transition:all 0.3s ease 0s}
.slick-arrow:hover {background-color:#737373}
.slick-arrow.prev {left:0}
.slick-arrow.next {right:0}
.slick-dots {display:inline-block !important;margin-top:42px}
.slick-dots > li {float:left;margin:0 5px}
.slick-dots button {display:block;width:14px;height:9px;padding:0;border:0 none;font-size:0;border-radius:3px;background-color:#d6d6d6;cursor:pointer;
-webkit-transition:all 0.3s ease 0s;
-o-transition:all 0.3s ease 0s;
transition:all 0.3s ease 0s}
.slick-dots .slick-active button {width:34px;background-color:#fff}
.slick-slide:focus {outline:0}
.pages-header .title-item {position:relative;height:550px;background-repeat:no-repeat;background-size:cover;background-position:50% 0}
.pages-header .title-item .page-title-wrap {height:550px;padding:120px 0 200px}
.pages-header .title-item .page-title {position:absolute}
.pages-header .title-item .page-title h1 {display:inline-block;margin:0 0 15px 0;font-size:36px;color:#737373}
.pages-header .title-item .page-title h4 {margin:0 0 5px 0;font-size:20px;color:#939393}
.pages-header .title-item.it1 .page-title,
.pages-header .title-item.it3 .page-title {top:43%;left:50%;width:400px;padding:10px 30px;margin-left:-200px;background-color:rgba(0,0,0,0.5)}
.pages-header .title-item.it1 .page-title h1,
.pages-header .title-item.it1 .page-title h4,
.pages-header .title-item.it3 .page-title h1,
.pages-header .title-item.it3 .page-title h4 {color:#fff !important}
.pages-header .title-item.it2 .page-title {position:static}
.pages-header .title-item.it1 {background-image:url('../imgs/banner/1.png')}
.pages-header .title-item.it2 {background-image:url('../imgs/banner/2.png')}
.pages-header .title-item.it3 {background-image:url('../imgs/banner/3.png')}

/* Main */
.main-area {padding:75px 0;background-color:#f6f6f6}
.main-area .section-cont h2 {margin:0 0 10px 0;font-weight:400;color:#555}
.main-area .section-cont h3 {margin:0 0 10px 0;color:#444;font-size:20px}
.main-area .section-cont p {font-size:15px;color:#444}
.main-area .section-cont .btn_application {display:block;width:280px;height:60px;margin:40px auto 25px;font-size:20px;font-weight:600;line-height:60px;color:#444;border:1px solid #444;background-color:#fff;text-align:center}
.main-area .section-cont .btn_application:focus,
.main-area .section-cont .btn_application:active,
.main-area .section-cont .btn_application:hover {color:#fff;background-color:#444}

/* About */
.about {max-width:920px;margin-left:auto;margin-right:auto}
.about + .section-cont {margin:10px auto 0}
.about_box {margin:0 0 30px 0}
.about_box > h2 {float:left;width:100px;margin-top:26px;text-transform:uppercase;font-size:20px;font-weight:400;text-align:right;font-family:'Lato', sans-serif}
.about_box .des {position:relative;margin-left:155px;padding:25px 30px;text-align:left;background-color:#fff}
.about_box .des:before {content:'';position:absolute;top:1px;left:-27px;width:1px;height:100%;background-color:#e2e2e2}
.about_box .des h3 {margin-bottom:10px;font-size:22px;font-weight:500;color:#333}
.about_box .des p {margin-left:3px;color:#333}
.about_box .about_value li {padding:18px 0;border-top:1px solid #eee}
.about_box .about_value li:first-child {padding-top:0;border-top:none}
.about_box .about_value li:last-child {padding-bottom:0}

/* Application */
.app_header {overflow:hidden}
.app_header:after {content:'';display:table;clear:both}
.app_header .tit {position:relative;margin-bottom:36px}
.app_header .tit:after {content:'';display:block;width:70px;height:1px;margin:35px auto 0;background-color:#727272}
.app_header .tit h1 {margin:0 0 10px 0;font-size:36px;font-weight:400;letter-spacing:-1px}
.app_header .tit p {font-size:16px;letter-spacing:-0.5px}
.app_header .indicator {margin-bottom:20px;padding:0 20px}
.app_header .inb {display:inline-block}
.app_header .inb li {position:relative;display:block;float:left;width:135px;height:100%}
.app_header .inb li:before {content:'';top:30px;right:50%;position:absolute;display:block;width:100%;height:1px;background-color:#dadada;z-index:0}
.app_header .inb li:first-child:before {display:none}
.app_header .inb li > span {position:relative;display:block;width:100%;padding:55px 0 0 0;font-size:15px;font-weight:normal;letter-spacing:-0.5px;font-family:'Open Sans';color:#888}
.app_header .inb li > span:before {content:'';top:21px;left:50%;position:absolute;display:block;width:18px;height:18px;margin-left:-9px;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;background-color:#d8d8d8;z-index:1}
.app_header .inb li.done:before,
.app_header .inb li.done > span:before,
.app_header .inb li.current:before,
.app_header .inb li.current > span:before {background-color:#292929 !important}
.app_header .inb li.current + li > span:before {background-color:#a2a2a2}
.app_header .inb li.current > span:after {content:'';top:18px;left:50%;position:absolute;display:block;width:24px;height:24px;margin-left:-12px;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;border:1px solid #292929;z-index:1}
.app_header .inb li.done > span,
.app_header .inb li.current > span {color:#292929 !important}
.app_header .inb li.current + li > span {color:#666}
.app_header .inb li > span .aka {display:block;font-size:12px}
.app_header .inb li > span,
.app_header .inb li > span:before {
-webkit-transition:all 0.3s ease;
-o-transition:all 0.3s ease;
transition:all 0.3s ease}
.app_body {padding:30px 0;background-color:#f6f6f6}
.app_body:before, .app_body:after {content:'';display:table;clear:both}
.app_header + .app_body {padding-top:15px}
.app_body .app-grid {margin:0}
.app_body .ipts {float:none;display:block;width:320px;height:50px;margin:0 auto 12px;padding:10px 15px;color:#333;
border:1px solid #ddd;background-color:#fff;font-size:15px;line-height:50px;
transition:all ease .3s}
.app_body .ipts.error {border-color:#c55050 !important}
.app_body .ipts.valid {border-color:#00aba3}
.app_body .ipts {border:1px solid #ddd}
.app_body .ipts:focus {border:1px solid #888}
.app_body .ipt_select {margin-bottom:30px;padding:0 15px;color:#666}
.app_body .nice-select:after {margin-top:-5px;right:18px}
.app_body .btn_inputs {position:absolute;top:0;opacity:0}
.app_body .nice-select .list {max-height:160px;overflow-x:hidden;overflow-y:auto}
.app_body .grid-item {width:25%;margin:0;padding:0}
.app_body .grid-item.percent-50 {width:50%}
.app_body .grid-item .imgs {position:relative}
.app_body .grid-item .imgs img {width:100%}
.app_body .grid-item .imgs:before {content:'';position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(0, 0, 0, .5);z-index:1;opacity:0}
.app_body .grid-item:hover .imgs:before {opacity:1}
.app_body .grid-item .desc {position:absolute;display:table;top:0;left:0;right:0;bottom:0;width:100%;height:100%;margin:auto;text-align:center;vertical-align:middle;z-index:5}
.app_body .grid-item label.on .desc,
.app_body .grid-item label.off .desc,
.app_body .grid-item:hover .desc {opacity:1}
.app_body .grid-item .desc h4 {display:block;width:100%;margin-bottom:0;padding-top:50px;font-size:24px;color:#fff;opacity:0}
.app_body .grid-item label.off .desc h4 {color:#333;text-decoration:line-through}
.app_body .grid-item label.on .desc h4,
.app_body .grid-item label.off .desc h4,
.app_body .grid-item:hover .desc h4 {padding-top:0;opacity:1}
.app_body .grid-item .desc p {font-size:14px;color:#eee;opacity:0}
.app_body .grid-item label.off .desc p {color:#333}
.app_body .grid-item label.on .desc p,
.app_body .grid-item label.off .desc p,
.app_body .grid-item:hover .desc p {opacity:1}
.app_body .grid-item .desc hr {display:block;width:0;margin:10px auto 8px;background-color:#eee;opacity:0}
.app_body .grid-item label.off .desc hr {background-color:#333}
.app_body .grid-item label.on .desc hr,
.app_body .grid-item label.off .desc hr,
.app_body .grid-item:hover .desc hr {width:35px;opacity:1}
.app_body .grid-item label {display:block;position:relative;cursor:pointer;margin:0}
.app_body .grid-item label.off {cursor:default}
.app_body .grid-item label.on .imgs:before {background:rgba(0, 0, 0, 1);opacity:0.7;border:15px solid #fff}
.app_body .grid-item label.off .imgs:before {background:rgba(255, 255, 255, .65);opacity:1}
.app_body .grid-item .imgs:before,
.app_body .grid-item .imgs img,
.app_body .grid-item .desc h4,
.app_body .grid-item .desc hr,
.app_body .grid-item .desc p {
-webkit-transition:all 0.3s ease 0s;
-o-transition:all 0.3s ease 0s;
transition:all 0.3s ease 0s}
.app_body .grid-item .desc hr {transition-delay:100ms}
.app_body .grid-item .desc p {transition-delay:50ms}

/* Buttons */
.btn_save {display:block;width:175px;height:48px;margin:0 auto 40px;font-size:19px;font-weight:normal;line-height:46px;color:#c1c1c1;border:1px solid #c1c1c1;text-align:center;cursor:default}
.btn_save:focus, .btn_save:active, .btn_save:hover {color:#c1c1c1}
.btn_save .count {display:inline-block;font-size:16px;margin-right:8px}
.btn_save .count .cnt {margin-right:2px;font-weight:400;color:#333}
.btn_save .count,
.btn_save .count .cnt {line-height:46px}
.btn_save.pass, .btn_confirm.pass {color:#00aba3;border-color:#00aba3;background-color:#fff}
.btn_save.pass:hover, .btn_confirm.pass:hover {background-color:#00aba3;color:#fff;cursor:pointer}
.btn_save.pass .count .cnt {color:#00aba3}
.btn_save.pass:hover .count,
.btn_save.pass:hover .count .cnt {color:#fff}
.btn_prev, .btn_reset {display:block;float:left;height:30px;padding-left:35px;padding-right:10px;font-size:18px;font-weight:normal;line-height:28px;text-align:left}
.btn_prev {margin-right:15px;padding-left:30px;color:#737373;background:url('../imgs/btn_prev.png') no-repeat 0 -6px}
.btn_reset {color:#999;background:url('../imgs/btn_reset.png') no-repeat 0 -6px}
.app_footer .btn_save {margin:0 auto}
.btn_confirm {display:block;width:320px;height:60px;margin:0 auto;font-size:20px;font-weight:600;line-height:60px;color:#444;border:1px solid #444;background-color:#fff;text-align:center;cursor:pointer}
.btn_confirm:focus,
.btn_confirm:active,
.btn_confirm:hover {color:#fff;background-color:#444}

/* Footer */
.footer {background-color:#292929}
.footer .container {position:relative;overflow:hidden;min-height:150px;padding-bottom:30px}
.footer .footer_widget {float:left;width:50%}
.footer .footer-title {margin:0 0 10px 0;padding-top:30px;font-size:18px;color:#f9f9f9}
.footer .footer-title + p {font-size:14px;line-height:1.4;letter-spacing:-0.3px;color:#888}
.footer .footer-title + p > span {margin-right:5px;color:#aaa;font-family:'Noto Sans'}
.footer .footer-title + p > span.address {display:block;float:left;height:37px}
.footer .social-icon {position:absolute;bottom:25px;right:10px}
.footer .social-icon .f_snb {height:32px}
.footer .social-icon .f_snb li {float:left;margin-left:10px}
.footer .social-icon .f_snb li:first-child {margin-left:0}
.footer .social-icon .f_snb li > a {display:block;width:32px;height:32px}
.footer .social-icon .f_snb li > a > span {display:block;width:100%;height:100%;text-align:left;text-indent:-9999px;overflow:hidden}
.footer .social-icon .f_snb li.fb > a > span {background:url('../imgs/btn_fb.jpg') no-repeat 0 0}
.footer .social-icon .f_snb li.ins > a > span {background:url('../imgs/btn_ins.jpg') no-repeat 0 0}

/* Page Loader */
#loading-wrap {position:fixed;top:0;left:0;width:100%;height:100%;background-color:#fff;z-index:100000}
.loading-effect {position:absolute;top:50%;left:50%;width:50px;height:50px;margin:-25px 0 0 -25px;font-size:10px;text-indent:-12345px;
border-top:1px solid rgba(49, 47, 47, 0.08);
border-right:1px solid rgba(49, 47, 47, 0.08);
border-bottom:1px solid rgba(49, 47, 47, 0.08);
border-left:1px solid rgba(49, 47, 47, 0.5);
border-radius:50%;
-webkit-animation:spinner 700ms infinite linear;
animation:spinner 700ms infinite linear;
z-index:100001}
@-webkit-keyframes spinner {
  0% {
    -webkit-transform:rotate(0deg);
    transform:rotate(0deg);
  }
  100% {
    -webkit-transform:rotate(360deg);
    transform:rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform:rotate(0deg);
    transform:rotate(0deg);
  }
  100% {
    -webkit-transform:rotate(360deg);
    transform:rotate(360deg);
  }
}

/* Scroll Button */
#scrollUp {right:20px;bottom:63px;width:30px;height:35px;text-align:center;background:url('../imgs/btn_top.jpg') #737373 no-repeat 0 0}
#scrollUp i {font-size:22px;line-height:35px;text-align:center;color:#fff}
#scrollUp:hover {background:url('../imgs/btn_top_on.jpg') #333 no-repeat 0 0;
-webkit-box-shadow:0 0 5px rgba(0, 0, 0, 0.3);
box-shadow:0 0 5px rgba(0, 0, 0, 0.3)}
