<!-- Body Contents Start -->
<div class="main-area light-bg section-padding">
	<div class="container">
		<div class="row text-center">
			<div class="col-xs-12">
				<div class="section-title">
					<h1>신청 정보 입력</h1>
					<div class="row pt-20">
						<p>연락 받을 정보를 입력해 주세요.</p>
					</div>
					<div class="horizontal-line ptb-20">
						<div></div>
					</div>
					<!-- Ingredient Section Start -->
					<form action="/" method="post" id="indiForm">
						<div class="ingre-area ingre-five four-style4 light-bg section-padding clearfix">

							<div class="container-fluid no-padding">
								<div class="row">
									<div class="col-xs-12">
										<div class="row pt-20">
											<input type="text" id="ipt_name" class="ipts" name="name" placeholder="이름" required>
										</div>
										<div class="row pt-20">
											<input type="text" id="ipt_hp" class="ipts" name="hp" placeholder="휴대폰 번호" required>
										</div>
										<div class="row pt-20">
											<select id="ipt_address" class="ipts ipt_select" name="address" title="지역 선택">
												<option value="서울">서울 길음동</option>
												<option value="서울">서울 삼선동</option>
											</select>
										</div>
									</div>
								</div>

								<div class="btn mt-30 btn_save">신청하기</div>
							</div>
						</div>
					</form>
					<!-- Ingredient Section End -->
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Body Contents End -->

<script>
$(document).ready(function () {
	loadStep();

	function loadStep() {
		if(localStorage['form_data'])	{
			console.log("Loading form data...");
			console.log(JSON.parse(localStorage['form_data']));
			$("#indiForm").fromJSON(localStorage['form_data']);
		} else {
			alert('정상적인 경로로 접근해 주세요!');
			$(location).attr('href', './step1');
		}
		return false;
	};
});
</script>
