<!-- Body Contents Start -->
<div class="main-area">
	<div class="container">
		<div class="row text-center">
			<div class="col-xs-12">
				<div class="app_header">
					<div class="tit">
						<h1>향기 베이스 선택</h1>
						<p>아래에서 향기 베이스 1개를 선택해 주세요.</p>
					</div>
					<!-- //.tit -->
					<a href="./step2" class="btn_save">
						<p class="count"><span class="cnt">0</span> / 1</p> 다음단계로
					</a>
					<!-- //.btn_save, .count -->
					<div class="indicator">
						<ul class="inb">
							<li class="current"><span>BASE</span></li>
							<li><span>THEME 1<span class="aka">Super Like</span></span></li>
							<li><span>THEME 2<span class="aka">Secondary Like</span></span></li>
							<li><span>THEME 3<span class="aka">Dislike</span></span></li>
							<li><span>INGREDIENTS 1<span class="aka">Super Like</span></span></li>
							<li><span>INGREDIENTS 2<span class="aka">Dislike</span></span></li>
							<li><span>INFORMATION</span></li>
						</ul>
					</div>
					<!-- //.indicator -->
					<a href="./step1" class="btn_reset">초기화</a>
				</div>
				<!-- //.app_header -->
				<div class="app_body">
					<form action="#" method="post" id="indiForm">
						<div class="app-grid">
							<div class="grid-item theme percent-50">
								<label for="love_base1">
									<div class="imgs">
										<img src="../imgs/base/1_fresh.png" alt="가벼운 향" />
									</div>
									<div class="desc">
										<div class="valign">
											<h4 class="name">가벼운 향</h4>
										</div>
									</div>
								</label>
								<input id="love_base1" class="btn_inputs" type="radio" name="base" value="fresh" />
							</div>
							<div class="grid-item theme percent-50">
								<label for="love_base2">
									<div class="imgs">
										<img src="../imgs/base/2_rich.png" alt="무거운 향" />
									</div>
									<div class="desc">
										<div class="valign">
											<h4 class="name">무거운 향</h4>
										</div>
									</div>
								</label>
								<input id="love_base2" class="btn_inputs" type="radio" name="base" value="rich" />
							</div>
						</div>
					</form>
				</div>
				<!-- //.app_body -->
				<div class="app_footer">
					<a href="./step2" class="btn_save">
						<p class="count"><span class="cnt">0</span> / 1</p> 다음단계로
					</a>
					<!-- //.btn_save, .count -->
				</div>
				<!-- //.app_footer -->
			</div>
			<!--//.col-xs-12 -->
		</div>
		<!--//.row.text-center -->
	</div>
	<!--//.container -->
</div>
<!-- Body Contents End -->

<script>
$(document).ready(function () {
	var nextUrl = './step2';
	$('label').on('click', function () {
		$('label').removeClass('on');
		$(this).addClass('on');
		$(this).next('.btn_inputs').attr('checked', true);
		checkPass();
	});

	$('.btn_save').on('click', function (e) {
		e.preventDefault();
		if ($('.btn_inputs').is(':checked')) {
			saveStep();
		} else {
			alert('향의 베이스를 선택해 주세요!');
		}
	});

	$('.btn_reset').on('click', function (e) {
		e.preventDefault();
		if (localStorage['form_data']) {
			var isConfirmed = confirm('정말 선택사항을 초기화 하시겠어요?');
			if (isConfirmed) {
				localStorage.removeItem('form_data');
				window.location.href = './step1';
			}
		} else {
			alert('저장된 데이터가 없습니다. 베이스 향을 먼저 선택해 주세요!');
		}
	});

	function saveStep (type) {
		console.log("Saving form data...");
		var oldData = JSON.parse(localStorage.getItem('form_data')) || {},
				newData = JSON.parse($("#indiForm").toJSON()),
				result = {};
		result = $.extend({}, oldData, newData);

		console.log(result);
		localStorage.setItem('form_data', JSON.stringify(result));

		setTimeout(function () {
			window.location.href = nextUrl;
		}, 1000);
	};

	loadStep();

	function loadStep () {
		if (localStorage['form_data']) {
			console.log("Loading form data...");
			var result = JSON.parse(localStorage['form_data']);
			console.log(result);
			if (result.base) {
				var val = result.base;
				$('.btn_inputs[value=' + val + ']').attr('checked', true);
				$('.btn_inputs[value=' + val + ']').prev('label').addClass('on');
				checkPass();
			} else {
				setTimeout(function () {
					$('input[type=radio]').attr('checked', false);
				}, 300);
			}
		} else {
			console.log("Error: Save some data first");
		}
		return false;
	};

	function checkPass () {
		setTimeout(function () {
			if ($('.btn_inputs').is(':checked')) {
				$('.btn_save').addClass('pass');
				$('.btn_save .cnt').text('1');
			} else {
				$('.btn_save').removeClass('pass');
				$('.btn_save .cnt').text('0');
			}
		}, 100);
	};
});
</script>
