<!-- Body Contents Start -->
<div class="main-area">
	<div class="container">
		<div class="row text-center">
			<div class="col-xs-12">
				<div class="app_header">
					<div id="cont_em">
						<div class="tit">
							<h1>신청 정보 입력</h1>
							<p>연락 받을 정보를 입력해 주세요.</p>
						</div>
						<!-- //.tit -->
					</div>
					<div class="indicator">
						<ul class="inb">
							<li class="done"><span>BASE</span></li>
							<li class="done"><span>THEME 1<span class="aka">Super Like</span></span></li>
							<li class="done"><span>THEME 2<span class="aka">Secondary Like</span></span></li>
							<li class="done"><span>THEME 3<span class="aka">Dislike</span></span></li>
							<li class="done"><span>INGREDIENTS 1<span class="aka">Super Like</span></span></li>
							<li class="done"><span>INGREDIENTS 2<span class="aka">Dislike</span></span></li>
							<li class="current"><span>INFORMATION</span></li>
						</ul>
					</div>
					<!-- //.indicator -->
					<a href="./step6" class="btn_prev">이전</a>
					<a href="./step1" class="btn_reset">초기화</a>
				</div>
				<!-- //.app_header -->
				<div class="app_body">
					<form action="#" method="post" id="indiForm">
						<div id="cont">
							<div class="row pt-20">
								<input type="text" id="ipt_name" class="ipts" name="name" placeholder="이름" maxlength="6" required>
							</div>
							<div class="row pt-20">
								<input type="text" id="ipt_hp" class="ipts" name="hp" placeholder="휴대폰 번호" maxlength="11" required>
							</div>
							<div class="row pt-20">
								<select id="ipt_address" class="ipts ipt_select" name="address" title="지역 선택">
									<option value="강남구">강남구</option>
									<option value="강동구">강동구</option>
									<option value="강북구">강북구</option>
									<option value="강서구">강서구</option>
									<option value="관악구">관악구</option>
									<option value="광진구">광진구</option>
									<option value="구로구">구로구</option>
									<option value="금천구">금천구</option>
									<option value="노원구">노원구</option>
									<option value="도봉구">도봉구</option>
									<option value="동대문구">동대문구</option>
									<option value="동작구">동작구</option>
									<option value="마포구">마포구</option>
									<option value="서대문구">서대문구</option>
									<option value="서초구">서초구</option>
									<option value="성동구">성동구</option>
									<option value="성북구">성북구</option>
									<option value="송파구">송파구</option>
									<option value="양천구">양천구</option>
									<option value="영등포구">영등포구</option>
									<option value="용산구">용산구</option>
									<option value="은평구">은평구</option>
									<option value="종로구">종로구</option>
									<option value="중구">중구</option>
									<option value="중랑구">중랑구</option>
								</select>
							</div>
						</div>
						<!--//#cont -->
						<a href="#" id="cont_emb" class="btn_confirm">신청하기</a>
					</form>
				</div>
				<!-- //.app_body -->
			</div>
			<!--//.col-xs-12 -->
		</div>
		<!--//.row.text-center -->
	</div>
	<!--//.container -->
</div>
<!-- Body Contents End -->

<!-- jQuery Nice-Select Plugin -->
<link rel="stylesheet" href="/css/vendor/nice-select.css" />
<script src="/js/vendor/jquery.nice-select.min.js"></script>

<script>
$(document).ready(function () {
	var prevUrl = './step6';
	var isPass = false;
	$('select').niceSelect();

	$('input:checkbox').on('change', function (e) {
	  if($('.btn_inputs:checked').length > checkLimit) {
			alert('최대 1개까지 선택 가능합니다!');
	  	this.checked = false;
			$(this).prev('label').removeClass('on');
	  }
	});

	$('.btn_confirm').on('click', function (e) {
		e.preventDefault();
		$('#indiForm').submit();
	});

	$('.btn_reset').on('click', function (e) {
		e.preventDefault();
		if (localStorage['form_data']) {
			var isConfirmed = confirm('정말 선택사항을 초기화 하시겠어요?');
			if (isConfirmed) {
				localStorage.removeItem('form_data');
				window.location.href = './step1';
			}
		} else {
			alert('저장된 데이터가 없습니다. 베이스 향을 먼저 선택해 주세요!');
		}
	});

	$.validator.addMethod('phone', function (phone_number, element) {
		phone_number = phone_number.replace(/\s+/g, "");
		return this.optional(element) || phone_number.length > 9 &&
			phone_number.match(/^(01[016789]{1}|02|0[3-9]{1}[0-9]{1})-?[0-9]{3,4}-?[0-9]{4}$/);
	}, "유효한 연락처를 입력해 주세요.");

	$('#indiForm').validate({
		focusInvalid: false,
		onclick: false,
		onfocusout: true,
		onkeyup: false,
		rules: {
			name: { required: true, minlength: 2},
			hp: { required: true, minlength: 9, phone: true},
			address: { required: true }
		},
		messages: {
			name: {
				required: "이름을 입력하세요.",
				minlength: $.validator.format("이름은 2자 이상 입력해 주세요.")
			},
			hp: {
				required: "연락처를 입력하세요.",
				minlength: "연락처는 9자 이상 숫자로 입력해 주세요.",
				phone: "유효한 번호를 입력해 주세요."
			},
			address: {
				required: "지역을 선택하세요."
			}
		},
		errorPlacement: function () {
		},
		highlight: function (element) {
			$(element).text('').addClass('error');
		},
		submitHandler: function (form) {
			// form.submit();
			saveStep(form);
		},
		invalidHandler: function (form, validator) {
			var errors = validator.numberOfInvalids();
			if (errors) {
				alert(validator.errorList[0].message);
				validator.errorList[0].element.focus();
			}
		}
	});

	function saveStep(indiForm) {
		if (!isPass) {
			isPass = true;
			var oldData = JSON.parse(localStorage.getItem('form_data')) || {},
					newData = {
						name: $('#ipt_name').val(),
						hp: $('#ipt_hp').val(),
						address: $('#ipt_address').val()
					},
					resultData = {};
			resultData = $.extend({}, oldData, newData);

			localStorage.setItem('form_data', JSON.stringify(resultData));

			$.ajax({
				url: './complete',
				type: 'POST',
				data: resultData,
				dataType: 'json',
				contentType: "application/x-www-form-urlencoded; charset=utf-8",
				success: function (data) {
					if (data.result != 0) {
						console.log('통과');
						var str = '';
						str += '<div class="section-title">';
						str += '	<h2>신청이 완료되었습니다.</h2>';
						str += '	<h5><br><br>빠른 시간내로 연락드리겠습니다.<br><br>3초 후 메인으로 이동합니다.</h5>';
						str += '</div>';

						$('#cont_em, #cont_emb, .btn_prev, .btn_reset').remove();
						$('#cont').html(str);

						setTimeout(function () {
							$(location).attr('href', '/');
							localStorage.clear();
						}, 3000);
					} else {
						alert('에러가 발생했습니다.\n잠시 후 다시 시도해 주세요.');
						isPass = false;
						return false;
					}
				},
				error: function (jqXHR, textStatus, errorThrown) {
					alert('에러가 발생했습니다.\n잠시 후 다시 시도해 주세요.');
					isPass = false;
					return false;
				}
			});

		} else {
			return false;
		}
	};

	loadStep();

	function loadStep () {
		if (localStorage['form_data']) {
			console.log("Loading form data...");
			var result = JSON.parse(localStorage['form_data']);
			console.log(result);
		} else {
			alert('베이스 향을 먼저 선택해 주세요!');
			$(location).attr('href', './step1');
		}
		return false;
	};
});
</script>
